.background {
    position: absolute;
    top: 0;
    z-index: 3;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    width: 100%;
    height: 1100px;
}

.nav {
    overflow: hidden;
    position: fixed;
    width: 40%;
    right: 11.8%;
    top: 8%;
    text-align: right;
    z-index: 4;
}

.nav a {
    margin-left: 10%;
}

.nav-scrolled a{
    color: black;
}

.logo-black{
    filter: invert(100%);
}

.nav-background {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #999999;
    height: 15%;
    z-index: 2;
}

.logo {
    overflow: hidden;
    position: fixed;
    width: 50px;
    left: 6%;
    top: 5.7%;
    z-index: 3;
}

.main-title {
    grid-column-start: 1;
    grid-column-end: 13;
    margin-top: 10vh;
    color: #1BBDB6;
    text-align: center;
    z-index: 3;
}

.header-subtitle {
    color: #1BBDB6;
}

.header-first-row {
    grid-area: d;
    z-index: 3;
}

.info-text {
    margin-bottom: 6vh;
}

.header-second-row {
    align-self: center;
    display: flex;
    justify-content: center;
    grid-area: e;
    z-index: 3;
}

.photo-seppe {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.header-third-row {
    grid-area: f;
    z-index: 3;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-name {
    color: white;
    display: inline-block;
    font-size: 1.15em;
    margin-top: 0;
    margin-bottom: 3vh;
    width: 45%;
}

.skill-indicator-wrapper {
    align-self: center;
    background-color: white;
    border-radius: 25px;
    height: 15px;
    width: 55%;
    margin-bottom: 3vh;
}

.skill-indicator {
    align-self: center;
    background-color: #1BBDB6;
    height: 15px;
    border-radius: 25px;
}

@media (max-width: 480px) {
    .nav {
        right: 0;
        text-align: left;
        display: flex;
        margin: 0;
        text-align: left;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    .nav a {
        margin-left: 0;
    }

    .background {
        height: 1500px;
    }

    .logo {
        display: none;
    }

    .header-first-row {
        grid-area: c;
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .header-second-row {
        grid-area: d;
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .header-third-row {
        grid-area: e;
        grid-column-start: 1;
        grid-column-end: 13;
    }
}