@import "header.css";
@import "previous_works.css";
@import "about_me.css";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html{scroll-behavior:smooth}

body{
    margin: 0;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.grid{
    margin-left: 11.8%;
    margin-right: 11.8%;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    grid-template-areas: 
    "a a a a b b b b c c c c"
    "a a a a b b b b c c c c"
    "d d d d e e e e f f f f"
    "d d d d e e e e f f f f"
    "g g g g h h h h i i i i"
    "g g g g h h h h i i i i";
  align-items: start;
}

.stroke{
    border: none;
    height: 0.75px;
    background-color: white;
    margin-bottom: 4vh;
}

.paragraph-white{
    color: white;
}

.subtitle{
    color: #107D7A;
}

.footer{
    padding: 3%;
    padding-left: 11.8%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 85%;
    position: absolute;
    height: 2%;
}

.icon{
    width: 25px;
    z-index: 1;
}

.footer-links-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer-link{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer-link label{
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    font-size: 0.8em;
}

.credit-wrapper{
    justify-self: end;
    align-self: center;
}

.credit{
    font-size: 0.7em;
}

a{
    text-decoration: none;
}

@media (max-width: 480px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i";
    }

    .footer-links-wrapper{
        width: 130%;
    }

    .footer-link{
        height: 70%;
        width: 100%;
    }

    .icon{
        width: 20px;
    }

    .footer{
        font-size: 0.7em;
        grid-gap: 55px;
        height: 7%;
    }

    .credit{
        text-align: right;
    }
}