.previous-works-title{
    grid-column-start: 1;
    grid-column-end: 13;
    margin-top: 60%;
    text-align: center;
}

.projects-wrapper{
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
    height: 100%;

    align-items: start;
}

.project-title{
    color: #107D7A;
    text-align: center;
}

.project-image{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.project-description{
    font-weight: lighter;
}

@media (max-width: 480px) {

    .projects-wrapper{
        grid-column-start: 1;
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2%;
    }

}