body{
    margin: 0;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.grid{
    margin-left: 11.8%;
    margin-right: 11.8%;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    grid-template-areas: 
    "a a a a a a b b b b b b"
    "a a a a a a b b b b b b"
    "c c c c c c d d d d d d"
    "c c c c c c d d d d d d";
  align-items: start;
}

.background{
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url("images/background-image.jpg");
    width: 100%;
    height: 800px;
}

.paragraph-white{
    color: white;
}

.nav{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
  align-self: center;
  display: flex;

  justify-content: flex-end;
}

.nav a{
    margin-right: 10%;
}

.logo{
    width: 50px;
}